html
  head
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    script(
      src='https://code.jquery.com/jquery-3.7.1.slim.min.js',
      integrity='sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=',
      crossorigin='anonymous'
    )
    script(src='https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js')
    script(src='/js/mystery-cd.js')
    title='Mystery CD: "LP5 2005 / N. Tao Photos"'
  body
    h1='Mystery CD: LP5 2005 / N. Tao Photos'
    hr
    p='While cleaning out Sevananda\'s server closet, I found a few 20+ year-old relics that I saved from being thrown away. As a hobby archivist, I\'ve preserved them on Namecheap\'s server for you to see. There are 82 images total equating to just over 93 megabytes of data.'
    p
      i!='Load-on-scroll functionality provided by <a href="https://infinite-scroll.com/">Infinite Scroll</a>'
    h2='The CD'
    a(href='/img/mystery-cd/mystery-cd.jpg')
      img(src='/img/mystery-cd/mystery-cd.jpg' width='400')
    h2='The Contents'
    div(id='mysteryCdImages')
      each imagePath in imagePaths
        a(href=imagePath)
          img(src=imagePath class='mystery-cd-image')